.navbar{
    border-radius: 0px;
}
.navbar-default{
    background-color: #143A85;
    border-color: #42619d;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #FF8C00;
    border-bottom: 3px solid white;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
}
.profile-pic{
    height: 50px;
    padding: 10px;
}