.main-image{
    width:450px;
    height:250px;    
}
.back-to {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.images{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height:80px;
    width: 80px;
}
.add-button{
    text-align: center;
    color:white;
}
.fav-button{
    text-align: center;
    color:white;
}
.headings{
    font-size: 20px;
    font-style: bold;
}
.text-area{
    font-size: 15px;

}
.form {
    margin:0;
}

.form li {
    list-style:none;
}

.hide {
    display:none;
}

.rating input[type="radio"] {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}
.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 60%;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 60%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 40%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
.images{
    width:100%;
    max-height: 300px;
}