<div class="container">
  <div class="row component-container">
    <div class="col-md-9">
      dasdsajgd
    </div>
    <div class="col-md-3 right-content">
      <div class="component-list">
        Components
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="list-group">
            <a href="#" class="list-group-item">First item</a>
            <a href="#" class="list-group-item">Second item</a>
            <a href="#" class="list-group-item">Third item</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>